body{
  background-color:rgba(220,239,255,0.6);
}

/* header */
a{
  text-decoration: none;
  color: black;
}

#header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 20px;
  background-color: white;
}

.contact{
  text-decoration: none;
  color: black;
}
